@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";



// Usage
.container-fluid {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.quote1 {
  color: rgba(255, 255, 255, 1);
}

.img_border {
  box-shadow: #006 0px 0px 34px;
  margin-top: 15px;
}

.question_detail {
  background-image: url('test3.jpg');
}

.countdown-container {
  font-size: 7em;
}

.survey_title {
  font-size: 5.5em;
}

.custom1 {
  background-color: red;
  border-radius: 20px;
}

// #participantes {
//   background-color: ;
// }

#preguntas {
  // background-image: url('test3.jpg');
  background: -webkit-linear-gradient(left, rgb(255,0,0) 0%, rgba(102,0,204,0.5) 15%, rgba(38, 204, 63, 0.5) 85%, #FC3 95%);
}

#participantes {
  background-color: whitesmoke;
}

.button1 {
  width: 100px;
  border-radius: 20px;
}

.mark1 {
  background-color: red;
}

.side {
  background-color: black;
  height: 1000px;
}

.mark {
  background-color: black;
}

.question {
  border-radius: 20px;
  // background-color: black;
  margin-bottom: 20px;
  border: solid 2px black;
  background-color:red;
  border:black solid 5px;
  color: black;
}

.question_detail {
  color: white;
}

@charset "utf-8";
/* CSS Document */

@-webkit-keyframes animacionLoy
{
  0%
  {
    box-shadow:
    #F00 0px 0px 50px,
    #F00 0px 0px 50px;
  }
  
  25%
  {
    box-shadow: #006 0px 0px 34px;
  }
  
  50%
  {
    box-shadow:
    #F00 0px 0px 50px,
    #F00 0px 0px 50px;
    
  }
  
  100%
  {
    box-shadow: #006 0px 0px 34px;
  }
  /* from
  {
  }
  
  to
  { 
  } */
}

#gelly
{
  
  /*webkit y moz: los que soportan animacion*/
  -webkit-animation-name:animacionLoy;
  -webkit-animation-duration:5s;
  -webkit-animation-direction:normal;   /*normal, alternal: se devuelve, reverse: al reves */
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-play-state:running;
}
